<div class="container" style="margin-top: 100px;">
  <h1>{{ title }}</h1>
  
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Place</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let hero of heroes">
          <td scope="row">{{ hero.name }}</td>
          <td>{{ hero.firstName }}</td>
          <td>{{ hero.lastName }}</td>
          <td>{{ hero.place }}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
